<div class="auth-login">
    <h2>LOGIN</h2>
    <div class="form-login-errors" style=""></div>
    <label for="modal" class="btn-modal-close"><div><i class="fa fa-times" aria-hidden="true"></i></div></label>
    <form id="loginForm" method="post" class="auth-form" data-url="{% url 'auth:login' %}">
        {% csrf_token %}
        {% for item in login_form %}
            <p>{{ item }}</p>
        {% endfor %}
        <button id="loginButton" type="button" class="auth-btn-enter">enter</button>  
    </form>
    <h3 class="auth-with-title">Enter with</h3>
    <div class="auth-with-social">
        
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="auth-reg-btn auth-with-btn">
            <i class="fa fa-vk" aria-hidden="true"></i>

        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="auth-reg-btn auth-with-btn">
            <i class="fa fa-google" aria-hidden="true"></i>
        </a>
    </div>
    <a href="{% url 'auth:reg' %}" class="auth-reg-btn">registration</a>
</div>